#left-nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100vh;
  width: 280px;

  .left-nav-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 35px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
}
