{% extends "base.html" %}

{% load static i18n core_tags %}

{% comment %}
app_base.html is meant to be used for all application-style pages, where
the user is doing actual work. It has a left sidebar, a right sidebar,
a top navigation bar, and a messages section below the top nav bar.

It extends base.html, which has the basic HTML structure, head, and body tags.

{% endcomment %}

{% block breadcrumbs_styles %}

{% endblock breadcrumbs_styles %}

{% block left_sidebar %}

{% endblock left_sidebar %}

{% block content %}

{% endblock content %}
