{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <title>
      {% block title %}
        Roscoe
      {% endblock title %}
    </title>

    {% block head %}
      {% include 'core/partial/head_meta.html' %}
    {% endblock head %}

    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

    {% block css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}

  </head>

  <body class="{% block bodyclass %}{% endblock bodyclass %}">

    {% block body %}

      <div class="mb-1">
        {% include "core/partial/top_nav.html" %}
      </div>

      <div class="container-fluid p-0">

        {% block messages %}
          <section id="messages">
            {% if messages %}
              {% include 'core/partial/toasts.html' %}
            {% endif %}
          </section>
        {% endblock messages %}

        {% block main %}
          {% block content %}

          {% endblock content %}
        {% endblock main %}

      </div>
    {% endblock body %}

    {% block modal %}
    {% endblock modal %}

    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}

  </body>
</html>
