{% load i18n core_tags blog_tags %}

<li class="nav-item dropdown features-dropdown">
    <a class="nav-link dropdown-toggle {% active_link_any 'features' 'faq' 'contact' 'support/help-center' 'support/status' %}"
       id="featuresMegaMenu"
       role="button"
       data-bs-toggle="dropdown"
       data-bs-auto-close="outside"
       aria-expanded="false">
        {% translate "Features" %}
    </a>

    <div class="dropdown-menu shadow-lg p-0 border-0 megamenu  ms-0 ms-md-5"
         aria-labelledby="featuresMegaMenu">
        <div class="row g-0 m-0 p-0">
            <div class="col-12 col-lg-8 p-4">
                <div class="nav-columns">
                    <div>
                        <p class="section-heading mb-2">
                            {% translate "Features" %}
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="{% url 'marketing:features' %}">{% translate "Features Home" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'marketing:features_overview' %}">{% translate "SimpleValidations Overview" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'marketing:features_schema_validation' %}">{% translate "Schema Validation" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'marketing:features_simulation_validation' %}">{% translate "Simulation Validation" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'marketing:features_certificates' %}">{% translate "Certificates" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'marketing:features_blockchain' %}">{% translate "Blockchain" %}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="section-heading mb-2">
                            {% translate "Integrations" %}
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'marketing:features_integrations' %}#github-integration">GitHub</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'marketing:features_integrations' %}#slack-integration">Slack</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% most_recent_blog_post as blog_post %}
            {% if blog_post %}
                <div class="col-12 col-lg-4 border-lg-start bg-body-tertiary megamenu-highlight p-0 m-0 b-0">
                    <div class="feature-card">
                        <div class="feature-image">
                            {% with blog_post.get_featured_image_url as image_url %}
                                {% if image_url %}
                                    <img src="{{ image_url }}"
                                         alt="{{ blog_post.get_featured_image_alt }}"
                                         class="img-fluid rounded" />
                                {% endif %}
                            {% endwith %}
                        </div>
                        <p class="feature-label">
                            {% translate "From the blog" %}
                        </p>
                        <h3 class="feature-title">
                            {{ blog_post.title }}
                        </h3>
                        <p class="feature-description">
                            {{ blog_post.get_content_preview }}
                        </p>
                        <a class="btn btn-outline-primary align-self-start"
                           href="{% url 'marketing:blog:blog_post_detail' slug=blog_post.slug %}">{% translate "Read story" %}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</li>
