{% load i18n core_tags %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% active_link_any 'resources' 'resources/docs' 'resources/videos' 'blog' 'resources/changelog' 'faq' %}"
       id="resourcesMenu"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        {% translate "Resources" %}
    </a>
    <ul class="dropdown-menu"
        aria-labelledby="resourcesMenu">
        <li>
            <a class="dropdown-item" href="{% url 'marketing:resources' %}">{% translate "Resources home" %}</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'marketing:resources_docs' %}">{% translate "Docs" %}</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'marketing:blog:blog_list' %}">{% translate "Blog" %}</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'marketing:resources_videos' %}">{% translate "Video library" %}</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'marketing:resources_changelog' %}">{% translate "Changelog" %}</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'marketing:faq' %}">{% translate "FAQ" %}</a>
        </li>
    </ul>
</li>
