.entrance-page {
  background: linear-gradient(152deg, #eef4f8, #dde5ea) !important;
  height: 100%;
}

.entrance-card-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  .card {
    max-width: 60rem;
    width: 100%;

    box-shadow: 0 1.5rem 2rem rgba(15, 23, 42, 0.03);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    .card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

#messages {
  z-index: 10000;
}

.pricing-page {
  padding-bottom: 20rem;
  .pricing-content {
    min-height: 15rem;
  }
}

.pricing-detail-page {
  padding: 4rem 0 8rem 0;
}