@use "settings";

// BASE BOOTSTRAP STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@use "bootstrap/scss/bootstrap.scss" with (
  $primary: settings.$blue,
  $secondary: settings.$azure,
  $success: settings.$green,
  $info: settings.$azure,
  $warning: settings.$yellow,
  $danger: settings.$red
);

// roscoe STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@use "base";

@use "site";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
