{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}

{% block content %}

    <div id="signout" class="container-fluid entrance-page ">

        <div class="entrance-card-wrapper">
            <div class="card" style="max-width:40rem">
                <div class="card-header">
                    {% trans "Sign Out" %}
                </div>
                <div class="card-body contents">
                    <p class="card-text">
                        {% trans 'Are you sure you want to sign out?' %}
                    </p>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-danger" type="submit">
                            {% trans 'Sign Out' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
