#assertion-step-builder {
  .app-content-header-bar {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 3rem;

    .app-content-header {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: flex-start;
      align-items: center;

      .badge-wrapper {
        height: 100% !important;
        display: flex;
        width: 7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        background-image: url("/static/images/app/notebook.png");
        border: 1px solid var(--bs-primary-border-subtle);
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
      }
      .title-wrapper {
        border: 1px solid var(--bs-dark-border) !important;
      }
    }
  }

  #assertions-editor-card {
    .editor-workspace {
      background: url("/static/images/app/notebook_green.png");
      min-height: 70vh;
      padding-bottom: 10rem;
    }
    .assertion-card {
      background: #fff;
      width: 100%;
      margin-bottom: 1rem;
    }
    .assertion-actions {
      display: inline-flex;
      align-items: stretch;
      border: 1px solid var(--bs-border-color);
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: var(--bs-white);
      form {
        margin: 0;
        display: inline-flex;
      }
      .btn {
        border: 0;
        border-radius: 0;
        padding: 4px 8px !important;
        color: var(--bs-primary);
        &:disabled {
          opacity: 0.4;
        }
      }
      .btn-outline-secondary {
        color: var(--bs-primary);
        &:hover,
        &:focus {
          background-color: rgba(var(--bs-primary-rgb), 0.05);
        }
      }
      .btn-outline-primary {
        color: var(--bs-primary);
      }
      .btn-outline-danger {
        color: var(--bs-danger);
        border-left: 1px solid var(--bs-danger-border-subtle);
        &:hover,
        &:focus {
          background-color: rgba(var(--bs-danger-rgb), 0.05);
        }
      }
      .btn:first-child {
        border-right: 1px solid var(--bs-border-color);
      }
      .btn:last-child {
        border-left: 1px solid var(--bs-border-color);
      }
    }
  }
}
