#workflow-step-assertions-editor-card {
  // only the top card body needs the background
  .editor-workspace {
    background: url("/static/images/app/notebook_green.png");
    min-height: 70vh;
    padding-bottom: 10rem;
  }

  .workflow-step-card {
    background: #fff;
    width: 100%;
  }
}
