@use "../settings";

.custom-consulting-marketing-card {
  .card-header {
    color: #fff;
    background: darken(settings.$blue, 20%) !important;
  }
  .card-body {
    color: #fff;
    background: darken(settings.$blue, 10%);
  }
  .card-footer {
    border-top: 1px dotted #fff;
    background: darken(settings.$blue, 10%);
  }
}
