#validator-library {
  .tabs {
    margin-left: 1rem;
    .nav-tabs {
      border-bottom: 0;
    }
    .nav-link {
      z-index: 10;
      border-bottom: 0;
      &.active {
        margin-bottom: -2px;
      }
    }
  }
  .tab-content {
    min-height: 80vh;
  }

  .validator-library-card {
    overflow: hidden;
    .card-header {
      height: 3rem;
      background: linear-gradient(180deg, #eaf1f8 0%, #dfe9f3 100%);
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
      .validator-type-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 1rem;
        height: 100%;
        i {
          font-size: 2rem;
          color: #425d7a;
        }
      }
      .validator-name {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        color: #425d7a;
      }
      .validator-info {
        display: flex;
        flex-direction: column;
      }
      .validator-type {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
