.tabs {
  .nav-tabs {
    border-bottom: 0;
  }
  .nav-link {
    z-index: 10;
    border-bottom: 0;
    &.active {
      margin-bottom: -1px;
    }
  }
}

#validator-library {
  .tabs {
    margin-left: 1rem;
    border-bottom: 0px;
  }
  .tab-content {
    min-height: 80vh;
    background: #fff;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .validator-library-card {
    overflow: hidden;
    .card-header {
      height: 3rem;
      background: linear-gradient(180deg, #eaf1f8 0%, #dfe9f3 100%);
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
      .validator-type-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 100%;
        i {
          font-size: 2rem;
          color: #425d7a;
        }
      }
      .validator-name {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        color: #425d7a;
      }
      .validator-info {
        display: flex;
        flex-direction: column;
      }
      .validator-type {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

#validator-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  .catalog-entry-sublist-header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #aaa;
    font-weight: 600;
    color: rgba(15, 23, 42, 0.6);
    text-transform: uppercase;
  }

  .tabs {
    margin-left: 1rem;
    border-bottom: 0px;
  }
  .tab-content {
    min-height: 60vh;
    background: #fff;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 1px solid var(--bs-border-color);
  }

  .catalog-entries-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    .card-body {
      background: var(--bs-primary-bg-subtle);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .tab-content {
        flex-grow: 1;
      }
    }
  }
}
