.workflow-card {
  dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3rem;
    dt {
      font-size: 0.9rem;
      font-weight: normal;
      min-width: 5rem;
    }
    dd {
      margin: 0;
      font-size: 0.9rem;
      font-weight: normal;
    }
  }
  .card-footer {
    background: #fff;
    border-top: 1px dotted #ccc;
  }
}
