#workflow-step-detail {
  overflow: hidden;
  .app-content-header-bar {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 3rem;
    overflow: hidden;

    .app-content-header {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;

      .badge-wrapper {
        height: 100% !important;
        display: flex;
        width: 7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        background-image: url("/static/images/app/notebook.png");
        border: 1px solid var(--bs-primary-border-subtle);
        border-top-left-radius : 0.75rem;
        border-bottom-left-radius: 0.75rem;
      }
      .title-wrapper {
        border: 1px solid var(--bs-dark-border) !important;
      }
    }
  }
  #workflow-step-assertions-editor-card {
    // only the top card body needs the background
    .editor-workspace {
      background: url("/static/images/app/notebook_green.png");
      min-height: 70vh;
      padding-bottom: 10rem;
    }

    .workflow-step-card {
      background: #fff;
      width: 100%;
    }
  }
}
