{% load static %}
{% load i18n %}
{% load core_tags %}
{% load account %}
{% load crispy_forms_filters %}

<form method="post"
      action="{% url 'account_reset_password' %}"
      class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="d-flex flex-row align-items-center justify-content-between">
        <input class="btn btn-primary mt-3"
               type="submit"
               value="{% trans 'Reset My Password' %}" />
        <a href="{% url 'account_login' %}" class="btn btn-link mt-3">
            {% trans "Back to Sign In" %}
        </a>
    </div>
</form>
