{% extends "marketing_base.html" %}

{% load i18n %}

{% block content %}

  <div class="container marketing-page">

    <div class="row">
      <div class="col-12 col-lg-8">

        <header>
          <h1>
            {% trans "Blockchain Anchoring" %}
          </h1>
          <div class="lead">
            {% blocktrans trimmed %}
              Preserve the integrity of your validation run by anchoring in a public blockchain ledger.
            {% endblocktrans %}
          </div>
        </header>

        <p>
          {% blocktrans trimmed %}
            Validibot can publish the successful completion of a validation run to a blockchain network.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
            The blockchain entry gives customers, regulators, and collaborators independent proof that the data was indeed
            validated at a specific point in time, and that the data and the validation results have not been altered since then.
          {% endblocktrans %}
        </p>

        <div class="mt-5 next-feature-link">
          <a href="{% url 'marketing:features_integrations' %}"
             class="btn btn-secondary">

            {% blocktrans trimmed %}
              Next: Integrations feature
            {% endblocktrans %}
            »
          </a>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
