{% extends "marketing_base.html" %}

{% load i18n %}

{% block content %}

  <div class="container marketing-page">

    <div class="row">
      <div class="col-12 col-lg-8">

        <header>
          <h1>
            {% trans "Certificates" %}
          </h1>
          <div class="lead">
            {% blocktrans trimmed %}
              Turn automated runs into cryptographic proof that input data met the standards you defined.
            {% endblocktrans %}
          </div>
        </header>
        <p>
          <!-- provide basic summary on what digital certificates are ... -->
          {% blocktrans trimmed %}
            Digital certificates are a powerful way to communicate the results of data validation to stakeholders.
            Certificates are cryptographically signed documents that contain tamper-proof data...in this case, the
            results of a validation run. They provide a simple, trustworthy way to share validation results with others,
            whether it's internal teams or external partners.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
            Because certificates link back to the full validation record on Validibot, stakeholders can
            easily verify the results of a validation run.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
            And they look nice too!
          {% endblocktrans %}
        </p>
        <div class="mt-5 next-feature-link">
          <a href="{% url 'marketing:features_blockchain' %}"
             class="btn btn-outline-secondary">

            {% blocktrans trimmed %}
              Next: Blockchain feature
            {% endblocktrans %}
            »
          </a>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
