{% extends "marketing_base.html" %}

{% load i18n %}

{% block content %}

  <div class="container marketing-page">

    <div class="row">
      <div class="col-12 col-lg-8">

        <header>
          <h1>
            {% trans "Simulation Validation" %}
          </h1>
          <div class="lead">
            {% blocktrans trimmed %}
              Validate data sources by running them through
              controlled scenarios and analyzing the outcomes.
            {% endblocktrans %}
          </div>
        </header>
        <p>
          {% blocktrans trimmed %}
            Validibot allows you to run data through simulation engines in a safe, isolated environment to see
            how input values will impact simulated systems. The simulations are run in a sandboxed container equipped
            with the programs and dependencies needed to execute the simulation.
          {% endblocktrans %}
        </p>

        <p>
          {% blocktrans trimmed %}
            The first simulation models we are focusing on are building
            energy models (EnergyPlus) and FMU-based models (OpenModelica),
            but we plan to expand to other simulation types in the future.
          {% endblocktrans %}
        </p>

        <div class="mt-5 next-feature-link">
          <a href="{% url 'marketing:features_certificates' %}"
             class="btn btn-secondary">
            {% blocktrans trimmed %}
              Next: Certificates feature
            {% endblocktrans %}
            »
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
