@use "app/sidebar";
@use "app/workflow_builder";
@use "app/project_form";

#main-content {
  min-height: 100vh;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#app-content {
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

// For centering content in app pages (like forms)
.app-content-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem;
}

// Styles for standard header bar in app content pages
.app-content-header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0 5px;
  margin: 0 0 1rem;
  min-height: 2.5rem;

  .app-content-header {
    padding: 0;
    h1 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .app-content-header-search {
  }

  .app-content-header-actions {
  }
}
