{% extends "marketing_base.html" %}

{% load i18n %}

{% block content %}

  <section class="container marketing-page">

    <div class="row ">
      <div class="col-lg-6">

        <header>
          <h1>
            {% trans "Contact Us" %}
          </h1>
        </header>

        <p class="text-muted">
          {% trans "Contact us today to find out more about SimpleValidations and how you can get early access." %}
          <br />
        </p>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="bi-envelope me-2"></i>support@simplevalidations.com
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        {% if request.user.is_authenticated %}
          {% include "marketing/partial/support_message_form.html" with form=support_message_form %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
