{% extends "marketing_base.html" %}

{% load i18n %}

{% block content %}
  <section class="container py-5">
    <div class="row g-4 align-items-start">
      <div class="col-lg-6">
        <h1 class="display-5 fw-semibold mb-4">
          {% trans "Let's talk" %}
        </h1>
        <p class="text-muted">
          {% trans "We love hearing from folks who care about great data quality." %}
          <br/>
          {% trans " Email today and we'll get back to you right away." %}
        </p>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="bi-envelope me-2"></i>support@simplevalidations.com
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        {% if request.user.is_authenticated %}
          {% include "marketing/partial/support_message_form.html" with form=support_message_form %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
