{% extends "marketing_base.html" %}

{% load static %}

{% block mainclass %}
  container-fluid
{% endblock mainclass %}

{% block content %}
  <!-- Hero Section -->
  <section class="hero-section">
    <div class="container">
      <div class="row align-items-center min-vh-lg-100">
        <div class="col-lg-6 col-md-12 hero-content mt-5 mt-lg-0 order-2 order-lg-1">
          <div>
            <h1 class="hero-title">
              Meet Your New
              <br />
              <span class="hero-title-contrast">Data Validation</span> Assistant
            </h1>
            <p class="hero-subtitle">
              Stop validating user data manually.  Validibot lets your users validate 
              their data against your rules.
            </p>
            <div class="hero-cta d-flex flex-wrap">
              {% if ENABLE_FREE_TRIAL_SIGNUP %}
                <a href="{% url 'account_signup' %}"
                   class="btn btn-robot btn-lg me-3 mb-2">
                  <i class="bi bi-rocket-takeoff me-2"></i>Start Free Trial
                </a>
              {% endif %}
              {% if ENABLE_FEATURES_SECTION %}
                <a href="{% url 'marketing:features' %}"
                   class="btn btn-robot btn-lg mb-2">
                  <i class="bi bi-gear me-2"></i>Explore Features
                </a>
              {% endif %}
              {% include "marketing/partial/waitlist_form.html" with form=waitlist_form %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 text-center slide-in-right order-1 order-lg-2">
          <img src="{% static 'marketing/images/robot.png' %}"
               class="robot-main img-fluid"
               alt="Validibot friendly validation robot" />
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid">
    {% include "marketing/sections/features.html" %}
  </div>

  {% include "marketing/sections/how_it_works.html" %}

  {% comment %}
      {% include "marketing/sections/benefits.html" %}
  {% endcomment %}

  {% comment %}
      {% include "marketing/sections/testimonials.html" %}
  {% endcomment %}

  {% include "marketing/sections/call_to_action.html" %}

{% endblock content %}
