{% extends "app_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    {% trans "Edit Workflow" %} · {{ object.name }} · SimpleValidations
  {% else %}
    {% trans "New Workflow" %} · SimpleValidations
  {% endif %}
{% endblock title %}

{% block left_sidebar %}
  {% include "app/partial/components/app_left_nav.html" %}
{% endblock left_sidebar %}

{% block app_content %}
  <div id="workflow-edit" class="container-fluid">

    <div class="app-content-header-bar row">
      <div class="app-content-header col-12 col-lg-3 d-flex align-items-start mb-2 mb-lg-0">
        <h1 class="app-page-title">
          <i class="bi bi-box me-2"></i>
          {% if object %}
            {% trans "Edit Workflow Settings" %} : "{{ object.name }}"
          {% else %}
            {% trans "New Workflow" %}
          {% endif %}
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 ">
        <div class="card shadow-sm app-form-card">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              {% crispy form %}

              <div class="d-flex justify-content-between align-items-center mt-4">
                <a class="btn btn-outline-secondary"
                   {% if object %}
                     href="{% url 'workflows:workflow_detail' object.id %}"
                   {% else %}
                     href="{% url 'workflows:workflow_list' %}"
                   {% endif %}>
                  {% trans "Cancel" %}
                </a>
                <button type="submit" class="btn btn-primary">
                  {% if object %}
                    {% trans "Save changes" %}
                  {% else %}
                    {% trans "Create workflow" %}
                  {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock app_content %}
