@use "base/default";
@use "base/top_nav";
@use "base/footer";
@use "base/cards";
@use "base/toasts";
@use "base/breadcrumbs";
@use "base/transitions";
@use "base/user";
@use "base/blog";
@use "workflow_public_view";

@use "./settings" as *;

.brand-with-mark {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }

  .brand-mark {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    display: block;
  }

  .brand-name {
    line-height: 1;
    display: inline-block;
  }
}

.brand-with-mark--lg {
  .brand-mark {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.bg-blue-lt {
  background-color: $blue-lt !important;
}
.bg-azure-lt {
  background-color: $azure-lt !important;
}
.bg-indigo-lt {
  background-color: $indigo-lt !important;
}
.bg-purple-lt {
  background-color: $purple-lt !important;
}
.bg-pink-lt {
  background-color: $pink-lt !important;
}
.bg-red-lt {
  background-color: $red-lt !important;
}
.bg-orange-lt {
  background-color: $orange-lt !important;
}
.bg-yellow-lt {
  background-color: $yellow-lt !important;
}
.bg-lime-lt {
  background-color: $lime-lt !important;
}
.bg-green-lt {
  background-color: $green-lt !important;
}
.bg-teal-lt {
  background-color: $teal-lt !important;
}
.bg-cyan-lt {
  background-color: $cyan-lt !important;
}
