$blue: #066fd1;
$azure: #4299e1;
$indigo: #4263eb;
$purple: #ae3ec9;
$pink: #d6336c;
$red: #d63939;
$orange: #f76707;
$yellow: #f59f00;
$lime: #74b816;
$green: #2fb344;
$teal: #0ca678;
$cyan: #17a2b8;

$blue-mid: #92bee8;
$yellow-mid: #f4d8a4;

$blue-lt: #e9f0f9;
$azure-lt: #ecf5fc;
$indigo-lt: #eceffd;
$purple-lt: #f7ecfa;
$pink-lt: #fbebf0;
$red-lt: #fbebeb;
$orange-lt: #fef0e6;
$yellow-lt: #fef5e6;
$lime-lt: #f1f8e8;
$green-lt: #eaf7ec;
$teal-lt: #e7f6f2;
$cyan-lt: #e8f6f8;
