{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load core_tags %}
{% load account %}
{% load crispy_forms_filters %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
  <div id="password-reset" class="container-fluid entrance-page p-4">
    <div class="entrance-card-wrapper">
      <div class="card d-flex h-100">
        <div class="card-body d-flex h-100">
          <div class="row d-flex h-100 w-100 align-items-stretch">
            <div class="col-12 d col-md-6">
              <h3 class="card-body-header">{% trans "Password Reset" %}</h3>
              {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
              {% endif %}
              <p>
                {% trans "Forgotten your password? Enter your e-mail address below,<br />and we'll send you an e-mail allowing you to reset it." %}
              </p>
              {% include 'account/partial/password_reset_form.html' %}
              <br />
              <p>
                {% with contact_email=support_email %}
                  {% blocktrans %}
                Please <a href="mailto:{{ contact_email }}">contact us</a> if you have any
                trouble resetting your password.
            {% endblocktrans %}
                {% endwith %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
