{% extends "core/base.html" %}

{% load static i18n core_tags %}

{% comment %}
app_base.html is meant to be used for all application-style pages, where
the user is doing actual work. It defines the CoreUI-inspired layout
comprising the sidebar, top navigation, breadcrumbs, and main content
region. Marketing layouts should continue to extend marketing_base.html.
{% endcomment %}

{% block top_nav %}{% endblock top_nav %}

{% block bodyclass %}
  app-body
{% endblock bodyclass %}

{% block body %}
  <div class="app-layout">
    <aside id="app-sidebar" class="app-sidebar" aria-label="{% trans 'Primary navigation' %}">
      <div class="app-sidebar-scroll">
        {% block left_sidebar %}{% endblock left_sidebar %}
      </div>
    </aside>
    <div class="app-sidebar-backdrop" data-app-sidebar-dismiss aria-hidden="true"></div>

    <div class="app-main">
      {% block app_top_nav %}
        {% include "core/partial/app/top_nav.html" %}
      {% endblock app_top_nav %}

      <main id="main-content" class="app-main-content" role="main">
        {% block breadcrumbs %}
          <div id="breadcrumbs-wrapper"
               class="app-breadcrumbs {% block breadcrumbs_styles %}{% endblock breadcrumbs_styles %}">
            {% include "core/partial/breadcrumbs.html" %}
          </div>
        {% endblock breadcrumbs %}

        {% block content %}
          <div id="app-content">
            {% block app_content %}{% endblock app_content %}
          </div>
        {% endblock content %}
      </main>
    </div>
  </div>
{% endblock body %}
