{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <title>
      {% block title %}
        SimpleValidations
      {% endblock title %}
    </title>

    {% block head %}
      {% include 'core/partial/head_meta.html' %}
    {% endblock head %}

    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

    {% block css %}
      {% include 'core/partial/core_css_includes.html' %}
    {% endblock css %}

    {% if not request.user.is_superuser or TRACKER_INCLUDE_SUPERUSER %}
      {% include 'core/partial/web_tracker.html' %}
    {% endif %}
  </head>

  <body {% if csrf_token %}
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        {% endif %}
        class="{% block bodyclass %}
                 d-flex flex-column min-vh-100 flex-grow-1 navbar-fixed-offset
               {% endblock bodyclass %}">

    {# Messages section #}
    {% block messages %}
      <section id="messages">
        {% if messages %}
          {% include 'core/partial/toasts.html' %}
        {% endif %}
      </section>
    {% endblock messages %}

    {% block body %}

      {# Top navigation bar #}
      {% block top_nav %}
        {% include "core/partial/top_nav.html" %}
      {% endblock top_nav %}

      {% block main %}

        <div class="{% block mainclass %}
                      container-fluid
                    {% endblock mainclass %}
                    flex-grow-1 d-flex flex-row w-100 h-100 p-0">

          {# Left sidebar #}
          {% block left_sidebar %}

          {% endblock left_sidebar %}

          <div id="main-content">

            {# Breadcrumbs #}
            {% block top_bar %}
              {% block breadcrumbs %}
                <div id="breadcrumbs-wrapper"
                     class="
                            {% block breadcrumbs_styles %}
                            {% endblock breadcrumbs_styles %}">

                  {% include "core/partial/breadcrumbs.html" %}
                </div>
              {% endblock breadcrumbs %}
            {% endblock top_bar %}

            {% block content %}

            {% endblock content %}
          </div>

          {% block right_sidebar %}

          {% endblock right_sidebar %}
        </div>
      {% endblock main %}

    {% endblock body %}

    {% block footer %}

    {% endblock footer %}

    {# modal block #}
    {% block modal %}
    {% endblock modal %}

    {% block inline_javascript %}
      {% comment %}
          Script tags with only code, no src (defer by default). To run
          with a "defer" so that you run inline code:
          <script>
            window.addEventListener('DOMContentLoaded', () => {
              /* Run whatever you want */
            });
          </script>
      {% endcomment %}
    {% endblock inline_javascript %}

  </body>
</html>
