#validation-run-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.validation-info-card {
  height: 100%;

  section {
    border-bottom: 1px dotted #aaa;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  dl {
    margin-bottom: 0;
  }

  .card-header {
    background: #fff;
    border-bottom: 1px dotted #999;
  }
  .card-body {
    height: 100%;
  }
  th {
    background-color: #f1f1f1;
    border: #ccc;
  }
}

.organization-role-list {
  .organization-role-option {
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  .form-text {
    margin-left: 1.5rem;
  }
}
