{% extends "marketing_base.html" %}

{% load i18n static %}

{% block content %}

  <div class="container marketing-page">

    <div class="row">

      <div class="col-12 col-lg-8">

        <header>
          <h1>
            {% trans "Custom Validators" %}
          </h1>

        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="lead">
          {% blocktrans trimmed %}
            Create your own catalog of custom "Validators" with expected inputs, expected outputs, and default assertions,
            so teams can reuse domain-specific rules without rebuilding them from scratch.
          {% endblocktrans %}
        </div>
        <p>
          {% blocktrans trimmed %}
            In SimpleValidations, authors create validation workflows for data. Those workflows are composed of "Validators"
            that perform certain checks or operations on the incoming data.
          {% endblocktrans %}
        </p>

        <p>
          {% blocktrans trimmed %}
            While the Validator Library includes many built-in options (like the 'JSON Schema Validator'), you can also create
            custom validators. A custom validator defines expected data names and provides default assertions that should
            always be applied.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
            Custom validators pair well with CEL-based assertions. An author creating a new validation workflow can drop in your
            custom validator, and instantly have access to the expected data names and all the domain-specific assertions you've defined.
            The can use those names (we call them 'signals') to write CEL expressions relevant to their specific workflow
          {% endblocktrans %}
        </p>

        <div class="mt-5 next-feature-link">
          <a href="{% url 'marketing:features_consulting' %}"
             class="btn btn-outline-secondary">
            {% blocktrans trimmed %}
              Next: Data validation consulting
            {% endblocktrans %}
            »
          </a>
        </div>

      </div>

      <div class="col-12 col-lg-4 ">
        <div class="card marketing-card-consulting-help">
          <div class="card-body">
            <div class="card-image">
              <img src="{% static 'marketing/images/robot_scene_work_in_progress.png' %}"
                   alt="{% blocktrans trimmed %}
                          Robot working at table with 'work in progress' sign in background.
                        {% endblocktrans %}"
                   class="img-fluid" />
            </div>
            <h5 class="card-title mb-3 mt-2">
              {% blocktrans trimmed %}
                Let Us Help You
              {% endblocktrans %}
            </h5>
            <p>
              {% blocktrans trimmed %}
                Need a bespoke validator developed specifically for your use case?
              {% endblocktrans %}
            </p>
            <ul>
              <li class="mb-2">
                {% blocktrans trimmed %}
                  Do you need include a custom codebase that requires a particular environment?
                {% endblocktrans %}
              </li>
              <li class="mb-2">
                {% blocktrans trimmed %}
                  Want to validate documents for structure or content?
                {% endblocktrans %}
              </li>
              <li class="mb-2">
                {% blocktrans trimmed %}
                  Do you need to run a special simulation (and our FMI Validator isn't helpful)?
                {% endblocktrans %}
              </li>
              <li class="mb-2">
                {% blocktrans trimmed %}
                  Do you need data to interact with an external system, or call a special API?
                {% endblocktrans %}
              </li>
            </ul>
            <p>
              {% blocktrans trimmed %}
                Our team offers consulting services to help you implement bespoke
                validators tailored to your organization's data requirements.
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans trimmed %}
                We can also help you integrate existing validator types into your
                validation workflows, or build new workflows for you from scratch.
              {% endblocktrans %}
            </p>

          </div>
          <div class="card-footer text-center">
            <a href="{% url 'marketing:features_consulting' %}"
               class="card-link btn btn-primary">
              {% blocktrans trimmed %}
                More About Our Consulting Services
              {% endblocktrans %}
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
