{% load i18n %}

<div class="table-responsive">
  <table class="table align-middle mb-0">
    <thead>
      <tr>
        <th scope="col">
          {% trans "Name" %}
        </th>
        <th scope="col">
          {% trans "Project" %}
        </th>
        <th scope="col">
          {% trans "Version" %}
        </th>
        <th scope="col">
          {% trans "Status" %}
        </th>
        <th scope="col">
          {% trans "Guests" %}
        </th>
        <th scope="col">
          {% trans "Updated" %}
        </th>
        <th scope="col" class="text-end">
          {% trans "Actions" %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for workflow in workflows %}
        {% include "workflows/partials/components/workflow_table_row.html" with workflow=workflow show_archived=show_archived current_layout=current_layout %}
      {% endfor %}
    </tbody>
  </table>
</div>
