body {
  background-color: rgb(248, 249, 250);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.action-button {
  min-width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

.btn-secondary {
  color: #fff;
}
