{% load i18n static %}

<div class="container-fluid m-0 p-0">
    <!-- Call-to-Action Section -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h2 class="cta-title">
                        {% blocktrans %}Ready to Meet Your Validation Robot?{% endblocktrans %}
                    </h2>
                    <p class="cta-subtitle">
                        {% blocktrans %}Contact us today and see how you can get early access to SimpleValidations.{% endblocktrans %}
                    </p>
                    <div class="d-flex flex-wrap justify-content-center gap-3">
                        <a href="{% url 'marketing:contact' %}"
                           class="btn btn-robot-cta-green btn-lg px-4">
                            <i class="bi bi-rocket-takeoff me-2"></i>{% blocktrans %}Get Early Access{% endblocktrans %}
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <img src="{% static 'marketing/images/ready_to_meet_robot.png' %}"
             class="ready-to-meet-robot flip-x"
             alt="{% blocktrans %}
                      Illustration of a friendly robot.
                  {% endblocktrans %}" />
    </section>
</div>
